  @import '~antd/dist/antd.css';

body {
  --col-neutral-200: #E2D7D5;
  --col-neutral-400: #bd8a82;
  --col-brand-300: #40c77b;
  --col-brand-400: #2c6e49;
  --col-grey-300: #cecece;
}

@media (prefers-reduced-motion: no-preference) {

}

.inputPane {
  background-color: var(--col-brand-300);
  text-align: center;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(2px 2px 1px black);
}

label {
  display: block;
  /* color: var(--col-neutral-400); */
  color: black;
  margin: 1.5em;
}

.controlLabel {
  text-align: left;
}

.radioGroup {
  border-radius: 1px;
  width: 100%;
  display: flex;
  flex-shrink: 0;
  flex-grow: 1;
  justify-content: stretch;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.radioGroup > * {
  flex-grow: 1;
  height: 2.2rem;
  display: flex;
  place-items: center;
  justify-content: space-around;
}

.displayPane {
  min-height: 100vh;
  display: grid;
  gap: 3em;
  justify-content: left;
  align-content: center;
  width: 100%;
  padding: 4em;
  grid-template-columns: auto;

  /* background-image: url("spring1.webp");
  background-color: var(--col-neutral-200);
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: soft-light; */
}


h1 {
  font-size: 6em;
  font-weight: 800;
  /* filter: drop-shadow(1px 1px 1px var(--col-brand-400)); */
  margin: 0 0;
  /* color: var(--col-brand-400); */
  filter: drop-shadow(1px 1px 1px black);
  color: black;
}

main {
  display: grid;
  background-color: var(--col-grey-300);
  grid-template-columns: min-content auto;
  width: 100vw;
  
}

.resultItem {
  height: min-content;
  /* width: max-content; */
  width: 100%;
  /* outline: black 2px solid; */
  filter: drop-shadow(2px 2px 1px black);
  font-size: 1.5em;
  font-weight: 400;
  /* border-radius: 0.5em; */
  display: flex;
  /* background-color: var(--col-brand-300); */
}

.resultItem > *
{
  width: max-content;
  /* display: inline-block; */
}

.nameSection {
  background-color: var(--col-brand-300);
  width: 12em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  border-radius: 0.5em 0 0 0.5em;
  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: #143119;

  padding: 0.2em;
  padding-left: 1em;
  padding-right: 1em;
}

.dateSection {
  background-color: white;
  /* border-radius: 0 0.5em 0.5em 0; */
  width: max-content;
  flex-grow: 1;
  display: block;
  white-space: nowrap;
  border-radius: 0 0.5em 0.5em 0;
  padding: 0.3em;
  padding-left: 1em;
  padding-right: 1em;
}

/* .dateSection > * {
  padding: 0.3em;
  padding-left: 1em;
  padding-right: 1em;
} */

td:first-child {
  padding-right: 0.3em;
}

.deadlineLabel {
  /* outline: black 2px solid; */
  padding-bottom: 0;
  /* border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #143119; */
}

.publicationLabel {
  padding-top: 0;
}

header {
  text-align: right;
  width: min-content;
  line-height: 0.9;
}

@media screen and (max-width > 10000px) {

}

.inputPane {
  width: min-content;
  height: 100%;
  padding:4em;
  text-align: center;
}

.input {
  width: 90%;
  margin-left: auto;
  margin-top: 5em;
  /* margin-bottom: auto; */

  /* background-color: var(--col-brand-300); */
  background-color: white;
  outline: black 2px solid;
  filter: drop-shadow(2px 2px 1px black);
  border-radius: 0.5em;
}

.countyPicker {
  margin-top: auto;
}
.datePicker {
  margin-bottom: auto;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.horizontalControl {
  width: 100%;
}