@import '~antd/dist/antd.css';

body {
  --col-neutral-300: #FFF7EB;
  --col-neutral-400: #F0E8DD;
  --col-neutral-500: #CFC8BE;
  --col-brand-300: #FF9D00;
  --col-brand-400: #F7AE39;
  --col-brand-500: #C97C00;
}

@media (prefers-reduced-motion: no-preference) {

}

.inputPane {
  background-color: var(--col-brand-300);
  text-align: center;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(2px 2px 1px black);
}

label {
  display: block;
  color: var(--col-neutral-400);
  /* outline: var(--col-neutral-300) 1px solid; */
  margin: 1.5em;
  /* border-radius: 1em; */
  /* text-align: left; */
  /* padding:0.5em; */
}

.controlLabel {
  text-align: left;
}

.radioGroup {
  /* background-color: white; */
  /* outline: var(--col-brand-400) 1px solid; */
  border-radius: 1px;
  width: 100%;
  display: flex;
  /* justify-content: space-around; */
  flex-shrink: 0;
  flex-grow: 1;
  justify-content: stretch;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.radioGroup > * {
  flex-grow: 1;
  height: 2.2rem;
  display: flex;
  place-items: center;
  justify-content: space-around;
}

.displayPane {
  min-height: 100vh;
  display: grid;
  gap: 3em;
  background-color: var(--col-neutral-500);
  justify-content: center;
  align-content: center;
  width: auto;
  padding: 2em;
}

h1 {
  font-size: 6em;
  font-weight: 800;
  filter: drop-shadow(1px 1px 1px black);
  margin: 0
}

main {
  display: grid;
  /* grid-auto-columns: auto;
  grid-auto-flow: column; */
  grid-template-columns: min-content auto;
  width: 100vw;
}

.resultItem {
  display: flex;
  background-color: var(--col-neutral-300);
  box-shadow: 5px 10px;
  border-radius: 10em;
  height: min-content;
  font-size: 2em;
  font-weight: 400;
}

.resultItem > *
{
  border-radius: 10em;
  padding: 0.5em;
}

.deadlineLabel {
  background-color: var(--col-brand-300);
}

header {
  text-align: right;
  width: min-content;
  line-height: 0.9;
}
/* .App-header {
  /* background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */

@media screen and (max-width > 10000px) {

}

.inputPane {
  /* position: fixed;
  inset: 0px auto 0px 0px; */
  width: min-content;
  height: 100%;
  padding:4em;
  text-align: center;
}

.input {
  width: 90%;
  /* height: min-content; */
  /* margin-right: auto; */
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;

  /* text-align: center; */
  background-color: var(--col-brand-300);
  /* box-shadow: 5px 10px; */
  outline: black 2px solid;
  filter: drop-shadow(2px 2px 1px black);
  /* font-size: em; */
  border-radius: 0.5em;
}

.countyPicker {
  margin-top: auto;
}
.datePicker {
  margin-bottom: auto;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.horizontalControl {
  width: 100%;
}