  @import '~antd/dist/antd.css';

body {
  --col-neutral-200: #E2D7D5;
  --col-neutral-400: #bd8a82;
  --col-brand-300: #4c956c;
  --col-brand-400: #2c6e49;
}

@media (prefers-reduced-motion: no-preference) {

}

.inputPane {
  background-color: var(--col-brand-400);
  text-align: center;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(2px 2px 1px black);
}

label {
  display: block;
  /* color: var(--col-neutral-400); */
  color: black;
  margin: 1.5em;
}

.controlLabel {
  text-align: left;
}

.radioGroup {
  border-radius: 1px;
  width: 100%;
  display: flex;
  flex-shrink: 0;
  flex-grow: 1;
  justify-content: stretch;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.radioGroup > * {
  flex-grow: 1;
  height: 2.2rem;
  display: flex;
  place-items: center;
  justify-content: space-around;
}

.displayPane {
  min-height: 100vh;
  display: grid;
  gap: 3em;
  justify-content: left;
  align-content: center;
  width: 100%;
  padding: 4em;
}

h1 {
  font-size: 6em;
  font-weight: 800;
  filter: drop-shadow(1px 1px 1px black);
  margin: 0 0
}

main {
  display: grid;
  background-color: var(--col-neutral-200);
  grid-template-columns: min-content auto;
  width: 100vw;
}

.resultItem {
  height: min-content;
  width: max-content;
  /* outline: black 2px solid; */
  filter: drop-shadow(2px 2px 1px black);
  font-size: 1.5em;
  font-weight: 400;
  /* border-radius: 0.5em; */
  display: flex;
}

.resultItem > *
{
  padding: 0.5em;
  width: max-content;
  /* display: inline-block; */
}

.nameSection {
  background-color: var(--col-neutral-400);
  /* border-radius: 0.5em 0 0 0.5em; */
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dateSection {
  background-color: var(--col-brand-300);
  /* border-radius: 0 0.5em 0.5em 0; */
  width: max-content;
  flex-grow: 1;
  display: block;
}

header {
  text-align: right;
  width: min-content;
  line-height: 0.9;
}

@media screen and (max-width > 10000px) {

}

.inputPane {
  width: min-content;
  height: 100%;
  padding:4em;
  text-align: center;
}

.input {
  width: 90%;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;

  background-color: var(--col-brand-300);
  outline: black 2px solid;
  filter: drop-shadow(2px 2px 1px black);
  border-radius: 0.5em;
}

.countyPicker {
  margin-top: auto;
}
.datePicker {
  margin-bottom: auto;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.horizontalControl {
  width: 100%;
}